<!-- nav.component.html -->
<nav class="navbar">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/events" routerLinkActive="active">Events</a>
  <a routerLink="/sub-events" routerLinkActive="active">Tasks</a>
  <a routerLink="/supervisors" routerLinkActive="active">Supervisors</a>
  <a routerLink="/laborers" routerLinkActive="active">Laborers</a>
  <a routerLink="/quote" routerLinkActive="active">Quote</a>
  <a routerLink="/supervisor-l2" routerLinkActive="active">Supervisor(L2)</a>
  <a routerLink="/supervisor-l1" routerLinkActive="active">Supervisor(L1)</a>
  <a routerLink="/timesheets-l1" routerLinkActive="active">TimeSheets(L1)</a>
  <a routerLink="/timesheets-l2" routerLinkActive="active">TimeSheets(L2)</a>
  <a routerLink="/timesheets-lab" routerLinkActive="active">TimeSheets(Laborers)</a>
  <a routerLink="/timesheets" routerLinkActive="active">TimeSheets</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
</nav>
