<!-- nav.component.html -->
<nav class="navbar">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/quote" routerLinkActive="active">Quote</a>
  <a routerLink="/events" routerLinkActive="active">Events</a>
  <a routerLink="/sub-events" routerLinkActive="active">Sub-Event</a>
  <a routerLink="/supervisors" routerLinkActive="active">Supervisors</a>
  <a routerLink="/laborers" routerLinkActive="active">Laborers</a>
  <a routerLink="/supervisor-l2" routerLinkActive="active">Asign Event</a>
  <a routerLink="/supervisor-l1" routerLinkActive="active">Asign Sub-Event</a>
  <a routerLink="/assignments" routerLinkActive="active">Assignment</a>
  <!-- <a routerLink="/timesheets-l1" routerLinkActive="active">Times (L1)</a>
  <a routerLink="/timesheets-l2" routerLinkActive="active">Times (L2)</a> -->
  <a routerLink="/timesheets-lab" routerLinkActive="active">Add Times Sheets</a>
  <a routerLink="/timesheets" routerLinkActive="active">View Time Sheets</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
</nav>
