/* Define global CSS variables */
:root {
  --primary-color: #4CAF50; /* Fresh Green */
  --secondary-color: #81C784; /* Soft Mint Green */
  --light-bg: #F1F8E9; /* Gentle Pale Green */
  --lighter-bg: #E8F5E9; /* Softer Green Tint */
  --text-color: #2E3B32; /* Deep Greenish-Black for readability */
  --accent-color: #FF9800; /* Warm Orange for highlights */
  --font-family: 'Poppins', sans-serif;
}



/* CSS Reset & Box Sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global typography & body styles */
body {
  font-family: var(--font-family);
  background-color: var(--lighter-bg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('./assets/bg-img.jpg');
  background-size: cover;
  color: var(--text-color);
  line-height: 1.6;
  padding: 1rem;
}

/* Links */
a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Utility Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
